* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto','sans-serif';
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://images.hindustantimes.com/img/2021/08/21/550x309/Taj_Mahal_in_India_1629504298010_1629504311858.jpg");
  background-position:center ;
  background-size:cover;
  padding-left: 8%;
  padding-right:8%;
  box-sizing: border-box;
}
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}
.logo {
  width: 60px;
  cursor: pointer;
}
.menu-icon {
  width:30px;
  cursor: pointer;
  margin-left: 40px;
}
nav {
  flex:1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-left:60px;
  
}
nav ul li{
  text-decoration: none;
  color:#fff;
  font-size:13px;
}
.row {
  display:flex;
  height: 88%;
  align-items:center;
}
.col{
  flex-basis: 50%;
}
h1 {
  color: #fff;
  font-size: 80px;
}
p {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
}

button {
  width: 180px;
  color: #000;
  font-size:12px;
  padding: 12px;
  background:#fff;
  border: 0;
  border-radius:20px;
  outline: none;
  margin-top: 30px;
}

.card {
  width:200px;
  height:230px;
  display: inline-block;
  border-radius: 10px;
  padding:15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin:10px 15px;
  background-position:center;
  background-size: cover;
  transition: transform 0.5;
}
.card1 {
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.pf72WxND4b8Z7QmJxZCntAHaE9&pid=Api&P=0&h=180");
  
}
.card2 {
  background-image: url("https://tse3.mm.bing.net/th?id=OIP.mBzE96bE9ockgEzPNocmjAHaHy&pid=Api&P=0&h=180");
}
.card3 {
  background-image: url("https://tse2.mm.bing.net/th?id=OIP.qBeDvaxwtr1OT5lV2NZwTwHaE8&pid=Api&P=0&h=180");
}
.card4 {
  background-image: url("https://images.fineartamerica.com/images-medium-large-5/akbars-tomb-photo-by-jamyang-zangpo.jpg");
}
.card:hover{
  transform: translateY(-10px);
}

h5 {
  color:#fff;
  text-shadow: 0 0 5px #999;
}
.card p {
  text-shadow: 0 0 15px #000;
  font-size:9px;
}

.heading5 {
  color:black;
}
.para5 {
  color:black;
  font-weight: bold;
  border-radius: 5px;
  border-style:solid ;
  border-width: 1px;
  background-color: white;
  opacity: 0.75;
}
